.details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30em;
    padding: 5px;
    margin: 5px 0;
    background-color: #000000;
    border-radius: 10px;
    position: relative;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    height: 30rem;
}
.details .image{
  height: 80%;
  width: 100%;
}
  .details .image .detailsImg{
    border-radius: 10px;
    height: 100%;
    width: 60%;
    border: 3px solid rgb(255, 255, 255);
  }
.title{
    display: flex;
    justify-content: center;
    align-items: center;
  }
.image{
    width: 100%;
    height: 600%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.author{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title h1{
    font-size: 1.3rem;
    margin-left: 1rem;
    color: #ffffff;
}
  @media (max-width: 550px) {
    .details {
      width: 15em;
    }
    .details .image{
      height: 80%;
      width: 100%;
    }
    .details .image .detailsImg {
      width: 100%;
    }
    .title{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .title h1{
        font-size: 1.2rem;
        
    }
    .image{
        width: 100%;
        height: 70%;
    }
    }
