.navbar{
    background-color: #000;
    color: #fff;
    padding: 0.5rem 0;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.readme{
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    margin-left: 1rem;
}
.navigation-pc{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation-pc .nav-pc{
    margin: 0 1rem;
}
.search{
    margin-right: 1rem;
}
.hidden{
    display: none;
}
.nav-pc{
    cursor: pointer;
}
.nav-pc:hover{
    color: #a2b649;
}
.navigation-mobile{
    display: none
}
/* Language: css */
/*media query for mobile devices*/
@media screen and (max-width: 768px){
    .navbar{
        padding: 0.5rem 0;
        font-size: 1.5rem;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 100;
    }
    .readme{
        display: none;
    }
    .navigation-pc{
        display: none;
    }
    .search{
        margin: 0
    }
    .hidden{
        display: flex;
        width: 2.4rem;
        margin: 0 1rem 0 0.2rem;
        height: 1.4rem;
        position: relative;
        flex-direction: column;
        justify-content: space-between;
    }
    .hidden .hid{
        width: 80%;
        background-color: rgb(255, 255, 255);
        height: 3px;
    }
    .navigation-mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        background-color:rgb(255, 255, 255);
        color: #000;
        height: 18rem;
        width:100%;
        transition: all 0.5s ease-out;
    }
    .names{
        margin: 1rem 0;
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        width: 100%;
    }
    .nav-pc{
        border: 3px solid #748e71;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
        height: 2rem;
        border-radius: 0.5rem;
    }
    .nav-pc:hover{
        background-color: #a2b649;
        color: #fff;
    }
}