.navbar{
    background-color: #000;
    color: #fff;
    padding: 0.5rem 0;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.readme{
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    margin-left: 1rem;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation .nav{
    margin: 0 1rem;
}
.search{
    margin-right: 1rem;
}
.hidden{
    display: none;
}

/* Language: css */
/*media query for mobile devices*/
@media screen and (max-width: 768px){
    .navbar{
        padding: 0.5rem 0;
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
    }
    .readme{
        display: none;
    }
    .navigation{
        display: none;
    }
    .search{
        margin-right: 1rem;
    }
    .hidden{
        display: flex;
        width: 3rem;
        margin: 0 1rem 0 0.3rem;
        height: 1.6rem;
        position: relative;
        flex-direction: column;
        justify-content: space-between;
    }
    .hidden .hid{
        width: 90%;
        background-color: rgb(255, 255, 255);
        height: 4px;
    }
}