.contact-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    position: relative;
    overflow: hidden;

}
.contact-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100em;
    max-width: 100%;
    
    background: #000;
    padding: 40px 30px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
form .input{
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}
form .input input{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 2px solid #fff;
    margin: 1em auto;
}
form .input input[type="submit"]{
    width: 30%;
    margin-top: 30px;
    padding: 10px 0;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #333;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}
form .input input[type="submit"]:hover{
    background: #555;
}
form .input input[type="submit"]:active{
    background: #333;
}
form .input input[type="text"]{
    border-bottom: 2px solid #fff;
} 
form .input input[type="text"]:focus{
    border-bottom: 2px solid #333;
}
form .input input[type="text"]:valid{
    border-bottom: 2px solid #333;
}
form .input input[type="email"]{
    border-bottom: 2px solid #fff;
}
form .input input[type="email"]:focus{
    border-bottom: 2px solid #333;
}
form .input input[type="email"]:valid{
    border-bottom: 2px solid #333;
}
/*textarea*/
form .input textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 2px solid #fff;
    margin: 1em auto;
}
form .input textarea:focus{
    border-bottom: 2px solid #333;
}
form .input textarea:valid{
    border-bottom: 2px solid #333;
}
