:root {
    font-size: 62.5%;
  }

.Home_page{
    background-color: #f5f5f5;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Home_container{
    height: 100%;
    width: 100%;
	background-image: url('../../images/lib2.jpg');
	background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.LazyLoadImage {
    max-inline-size: 100%;
    block-size: auto;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
  }

  .Home_description h1{
    font-size: 16em;
    color: #f9e08c;
    text-align: center;
    font-family: 'Bungee Spice', cursive;
    font-weight: 600;
}
    .Home_container p{
        font-size: 6rem;
    color: #e8e8e6;
    text-align: center;
    font-family: 'Vibes', cursive;
    font-weight: 400;
    }
    .Home_container p span{
        font-size: 3.5rem;
    color: #f9e08c;
    text-align: center;
    font-family: 'Lemonada', cursive;
    font-weight: 400;
    }
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*media*/
@media screen and (max-width:1260px){
    html {
        font-size: 1.5em;
      }
    .Home_description h1{
        font-size: 10em;
    }
    .Home_container p{
        font-size: 4rem;
    }
    .Home_container p span{
        font-size: 3rem;
    }
}
@media screen and (max-width: 450px) {
    .Home_container{
        flex-direction: column;
        justify-content: flex-start;
    }
    .Home_description h1{
        font-size: 5em;
    }
    .Home_container p{
        font-size: 3rem;
    }
    .Home_container p span{
        font-size: 2rem;
    }
}