.dostoevsky{
    background-color: #a53b20;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    height: 44vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dostoevsky .type{
    width: 20%;
    height: 100%;
    position: relative;
    border-radius: 30px 30px;
}
.dostoevsky .type img{
    width: 100%;
    height: 100%;
    border-radius: 30px 30px;
}
.dostoevsky .type h1{
    font-size: 2.5rem;
    color: #f9e08c;
    box-shadow: 3px 3px 3px #fbdc84;
    font-weight: 700;
    margin-left: 20px;
    position: absolute;
    bottom: 1rem;
    font-family: 'Rajdhani', sans-serif;
}
.dostoevsky .mySwiper{
    width: 70%;
    height: 100%;
}

.book{
    width: 100%;
    height: 100%;
    background-color: #208aa5;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.book:hover{
    cursor: pointer;
    border: 4px solid rgb(255, 255, 255);
}
.book .img{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.book .book-info{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.book .book-info h1{
    font-size: 2rem;
    font-weight: 600;
    color: #000;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

/*media query*/
@media screen and (max-width: 420px){
    .dostoevsky{
        flex-direction: column;
        height: 100%;
        border-radius: 30px;
    }
    .dostoevsky .type{
        width: 100%;
        height: 30vh;
    }
    .dostoevsky .type h1{
        font-size: 1.5rem;
        margin-left: 10px;
        bottom: 0.5rem;
        left: 3rem;
    }
    .dostoevsky .type img{
        border-radius: 10px 10px 0 0;
    }
    .dostoevsky .mySwiper{
        width: 100%;
        height: 80%;
        
    }
    .dostoevsky .mySwiper{
        width: 100%;
        height: 80%;
    }
    .book .book-info{
        height: 20%;
    }
    .book .book-info h1{
        font-size: 1.7rem;
    }
    .book .img{
        border-top: 4px solid #a53b20;
    }
}
    
@media screen and (max-width: 375px){
    .dostoevsky{
        flex-direction: column;
        height: 100%;
    }
    .dostoevsky .type{
        width: 100%;
        height: 30vh;
        border-radius: 30px 30px 0 0;
    }
    .dostoevsky .type h1{
        font-size: 1.5rem;
        margin-left: 10px;
        bottom: 0.5rem;
        left: 1rem;
    }
    .dostoevsky .type img{
        border-radius: 30px 30px 0 0;
    }
    .dostoevsky .mySwiper{
        width: 100%;
        height: 80%;
        
    }
    .dostoevsky .mySwiper{
        width: 100%;
        height: 80%;
    }
    .book{
    }
    .book .img{
        border-radius: 0 0 30px 30px;
    }
}