
.dostoevsky{
    background-color: #9b9693;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    height: 50em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dostoevsky .type{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dostoevsky .type img{
    width: 70%;
    height: 50%;
    border-radius: 50%;
}
.dostoevsky .type h1{
    font-size: 1.8rem;
    color: #290605;
    font-weight: 700;
    padding-left: 6px;
    border-left: 3px solid rgb(255, 255, 255);
    font-family: 'Rajdhani', sans-serif;
}
.dostoevsky .mySwiper{
    width: 70%;
    height: 100%;
}

.book{
    width: 100%;
    height: 100%;
    max-height: 90%;
    background-color: #9b9693;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.book .img:hover{
    cursor: pointer;
    border: 4px solid #6b3617;
}
.book .img{
    font-size: small;
    height: 100%;
    max-width: 100%;
    vertical-align: middle;
}
@media screen and (max-height: 1200px) {
    .dostoevsky{
        height: 40rem;
        min-height: 10rem;
    }
    .book{
        height: 69%;
    }
    .book .img{
        min-height: 400px;
    }
    .dostoevsky .type img{
        width: 50%;
        height: 50%;
    }
}
@media screen and (max-height: 669px){
    .book .img{
        min-height: 300px;
    }
    .dostoevsky{
        height: 30rem;
        min-height: 10rem;
    }
    .dostoevsky .type img{
        width: 70%;
        height: 40%;
    }

}
@media screen and (max-width: 620px){
    .dostoevsky .type img{
        width: 100%;
        height: 30%;
        padding-right: 2rem;
    }
    .dostoevsky .type {
        width: 30%;
    }
    .book{
        
        height: 80%;
    }
    .book .img{
        height: 100%;
        max-width: 100%;
        vertical-align: middle;
    }
    .dostoevsky{
        height: 100%;
    }

}
@media screen and (max-width: 620px){
    
}
@media screen and (max-width: 620px){
    .book{
        
        height: 90%;
    }
    .book .img{
        height: 90%;
        max-width: 100%;
        vertical-align: middle;
    }
    .dostoevsky{
        height:36em;
        padding-top: 4em;
    }
}

/*media query*/
@media screen and (max-width: 420px){
    .dostoevsky{
        flex-direction: column;
        height: 50rem;
        min-height: 20rem;
        border-radius: 30px;
    }
    .dostoevsky .type{
        width: 70%;
        height: 30%;
    }
    .dostoevsky .type h1{
        font-size: 1.5rem;
    }
    .dostoevsky .type img{
        width: 60%;
        height: 80%;
    }
    .dostoevsky .mySwiper{
        width: 100%;
        height: 80%;
        margin-top: 2.4rem
    }
    .book{
        height: 83%;
    }
    .book .book-info{
        height: 50px;
    }
    .book .book-info h1{
        margin-top: 2rem;
        font-size: 1rem;
    }
    .book .img{
        height: 100%;
    }
    .book:hover{
        border: none;
    }
}
@media screen and (max-width: 375px){
    .dostoevsky{
        height: 40rem;
        min-height: 10rem;
    }
    .dostoevsky .type h1{
        font-size: 1.4rem;
    }
    .dostoevsky .type img{
        width: 50%;
        height: 70%;
    }
    .book{
        height: 100%;
    }
    .book .book-info{
        height: 50px;
    }
    .book .book-info h1{
        margin-top: 2rem;
        font-size: 1rem;
    }
    .book .img{
        height: 100%;
    }
}
@media screen and (max-width: 360px){
    .dostoevsky{
        flex-direction: column;
        border-radius: 30px;
    }
    .dostoevsky .type{
        width: 70%;
        height: 30%;
    }
    .dostoevsky .type h1{
        font-size: 1.3rem;
    }
    .dostoevsky .mySwiper{
        width: 100%;
        height: 80%;
        margin-top: 2.4rem
    }
    .book .book-info{
        height: 50px;

    }
    .book .book-info h1{
        margin-top: 3rem;
        font-size: 0.8rem;
    }
    .book .img{
        height: 240px;
    }
}
